.img-index {
    width: 40%;
}

.index-top{
    margin-left: 4%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 1%;
  }

.index-titre{
    color: goldenrod;
<<<<<<< HEAD
    font-family: 'Dancing Script', cursive; ;
=======
    font-family: 'Courier New', Courier, monospace;
>>>>>>> 8047d27340cb6319262ba1d9edf07d299c6c2df8
    text-align: center;
}

.index-content{
    margin: 2% 5% 5% 5%;
    padding: 1%;
    border-color: black;
    border: solid #dee2e6 2px;
}